<!-- BEGIN simple -->
{SIMPLE_FAILURE}
<!-- END simple -->
<!-- BEGIN sess_remote -->
{SESS_INFO_REMOTE}
<ul>
	<!-- BEGIN sess_remote_item -->
	<li>{SESS_REMOTE_ITEM_TITLE} ("{SESS_REMOTE_ITEM_OID}")</li>
	<!-- END sess_remote_item -->
</ul>
<!-- END sess_remote -->
<!-- BEGIN sess_local -->
{SESS_INFO_LOCAL}
<ul>
	<!-- BEGIN sess_local_item -->
	<li>{SESS_LOCAL_ITEM_TITLE} ("{SESS_LOCAL_ITEM_OID}")</li>
	<!-- END sess_local_item -->
</ul>
<!-- END sess_local -->
<!-- BEGIN exc_remote -->
{EXC_INFO_REMOTE}
<ul>
	<!-- BEGIN exc_remote_item -->
	<li>{EXC_REMOTE_ITEM_TITLE} ("{EXC_REMOTE_ITEM_OID}")</li>
	<!-- END exc_remote_item -->
</ul>
<!-- END exc_remote -->
<!-- BEGIN exc_local -->
{EXC_INFO_LOCAL}
<ul>
	<!-- BEGIN exc_local_item -->
	<li>{EXC_LOCAL_ITEM_TITLE} ("{EXC_LOCAL_ITEM_OID}")</li>
	<!-- END exc_local_item -->
</ul>
<!-- END exc_local -->